---
import BaseLayoutWithTailwind from "../layouts/BaseLayoutWithTailwind.astro";

// Since this page is not using server, we will pre-render it
export const prerender = true;
---

<BaseLayoutWithTailwind>
	<main class="p-4">
		Learning Astro SSR
	</main>
</BaseLayoutWithTailwind>