---
---

<section class="p-4">
  <h1 class="mb-2 text-lg font-semibold text-slate-700">
    Simple Form Submission (Astro Form)
  </h1>
  <form class="flex flex-row gap-2" method="post" action="/backend/custom-form">
    <input
      name="submittedValue"
      class="rounded bg-gray-200 px-4 py-2"
      type="text"
      placeholder="Submit Me"
    />
    <button class="rounded bg-blue-200 px-4 py-2" type="submit"> Submit</button>
  </form>
</section>
